<div class="container">
    <h3 class="d-flex justify-content-center mt-3">Payment Setting </h3>
    <hr>
</div>

<table class="table">
    <thead>
      <tr>
        <th scope="col">S_no</th>
        <th scope="col">Logo</th>
        <th scope="col">Payment Methods </th>
        <th scope="col">Descrption</th>
        <th scope="col">On/off</th>
        <th scope="col"> setup </th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <th>1.</th>
       <td></td>
       <td>Razor Pay</td>
       <td><p>Native UPI integration
        One tap pay for UPI apps Payment gateway fee Payment gateway fee As low as 0.99% Activation time Activation time Instant without GST Payout cycle Payout cycle
        </p></td>
        <td>
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" (change)="toggleSwitch($event)">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </td>
        <td><button class="btn btn-primary" (click)="inputs()"> SetUp </button></td>
      </tr>
      
      <tr>
        <th>2.</th>
        <td></td>
        <td>PayTM</td>
        <td><p>Native UPI integration
            One tap pay for UPI apps
            
            Payment gateway fee
            Payment gateway fee
            
            As low as 0.99%
            
            Activation time
            Activation time
            
            Instant without GST
            
            Payout cycle
            Payout cycle
            
            3 times daily
         </p></td>
         <td>
             <div class="onoffswitch">
                 <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch1" (change)="toggleSwitch($event)">
                 <label class="onoffswitch-label" for="myonoffswitch1">
                     <span class="onoffswitch-inner"></span>
                     <span class="onoffswitch-switch"></span>
                 </label>
             </div>
         </td>
         <td><button class="btn btn-primary" (click)="inputs()"> SetUp </button></td>
       </tr>


       <tr>
        <th>1.</th>
        <td></td>
        <td>Razor Pay</td>
        <td><p>Native UPI integration
         One tap pay for UPI apps
         
         Payment gateway fee
         Payment gateway fee
         
         As low as 0.99%
         
         Activation time
         Activation time
         
         Instant without GST
         
         Payout cycle
         Payout cycle
         </p></td>
         <td>
             <div class="onoffswitch">
                 <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch2" (change)="toggleSwitch($event)">
                 <label class="onoffswitch-label" for="myonoffswitch2">
                     <span class="onoffswitch-inner"></span>
                     <span class="onoffswitch-switch"></span>
                 </label>
             </div>
         </td>
         <td><button class="btn btn-primary" (click)="inputs()"> SetUp </button></td>
       </tr>

    </tbody>
  </table>
  <div class="mt-5"></div>
<div class="container">
    <h3 class="d-flex justify-content-center mt-3">Payment Screen </h3>
    <hr>
    <table class="table">
        <div class="mt-3"></div>
        <tr>
            <th>Key ID </th>
            <td>jhbhjbh74bchjbj</td>
        </tr>
        <div class="mt-3"></div>
        <tr>
            <th>Key Value</th>
            <td>A8bk56m</td>
        </tr>
    </table>
</div>
